:focus {
    outline-color: var(--light);
    outline-width: 2px;
    outline-style: none;
}

body {
    --dark: rgb(56, 41, 41);
    --very-dark: rgb(31, 18, 18);
    --light: rgb(240, 232, 232);
    --hilight: rgb(255, 99, 99);

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 10px 8px 10px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 15px;
}

.filter_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.query {
    flex: 1;
    box-sizing: border-box;
    height: 32px;
    padding: 5px 10px;
    border: none;
    background-color: var(--very-dark);
    color: var(--light);
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.query:focus {
    outline-style: solid;
}

select {
    background-color: var(--very-dark);
    color: var(--light);
    height: 32px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

select:focus {
    outline-color: var(--light);
    outline-width: 2px;
    outline-style: solid;
}

button {
    background-color: rgb(87, 65, 65);
    color: var(--light);
    padding: 2px 5px;
    border: solid 2px var(--light);
    border-radius: 5px;
    font-size: 13px;
}

button:disabled {
    color: rgb(175, 162, 162);
    border-color: rgb(175, 162, 162);
}

.sort_dir {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sort_dir>label {
    position: relative;
    background-color: var(--very-dark);
    color: var(--light);
    padding: 0 4px;
    border: solid 2px var(--light);
    border-radius: 5px;
    font-size: 13px;
}

.sort_dir>label:focus-within {
    outline-color: var(--light);
    outline-width: 2px;
    outline-style: solid;
    border-color: var(--very-dark);
}

.sort_dir>label:has(input[type=radio]:checked) {
    background-color: var(--light);
    color: var(--dark);
}

.sort_dir>label>input[type=radio] {
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: none;
}

.result_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    min-width: 500px;
    padding: 0 2px;
    color: rgb(209, 200, 200);
    font-size: 0.9em;
}

.result_buttons {
    display: flex;
    gap: 4px;
}

.result_first,
.result_last {
    padding-top: 1px;
    padding-bottom: 3px;
}

.result_summary,
.result_dummy {
    flex: 1;
}

.result {
    flex: 1;
    overflow-x: auto;
    overflow-y: scroll;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 244px);
    grid-template-rows: repeat(auto-fill, 340px);
    justify-content: center;
    gap: 6px;
    margin: 10px;
}

.card {
    display: flex;
    width: 244px;
    height: 340px;
    border-radius: 11px;
}

.card:focus {
    outline-color: var(--hilight);
    outline-width: 5px;
    outline-style: solid;
}

.card>img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 11px;
}