:focus {
    outline-color: var(--light);
    outline-width: 2px;
    outline-style: none;
}

body {
    --dark: rgb(56, 41, 41);
    --very-dark: rgb(31, 18, 18);
    --light: rgb(240, 232, 232);
    --hilight: rgb(255, 99, 99);
    --card-width: 244px;
    --card-half-width: 122px;
    --card-height: 340px;
    --card-border-radius: 12px;

    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

select {
    background-color: var(--very-dark);
    color: var(--light);
    height: 32px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

button {
    background-color: rgb(116, 88, 88);
    color: var(--light);
    padding: 3px 8px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
}

button:disabled {
    background-color: rgb(80, 66, 66);
    color: rgb(175, 162, 162);
    border-color: rgb(175, 162, 162);
}

button:enabled:hover {
    background-color: rgb(146, 110, 110);
}

input[type=tex]:hover,
select:hover {
    outline-color: rgb(92, 70, 70);
    outline-width: 2px;
    outline-style: solid;
}

input[type=text]:focus,
select:focus,
button:focus {
    outline-color: var(--light);
    outline-style: solid;
}

header {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 10px 8px 10px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.filter_container,
.filter_base,
.filter_extra {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.filter_base {
    flex: 1;
}

.filter_show_extra {
    display: none;
    flex-direction: column;
    width: 32px;
    height: 32px;
    padding: 5px;
    align-items: stretch;
    justify-content: space-evenly;
}

.filter_show_extra>div {
    background-color: var(--light);
    height: 2px;
    border-radius: 1px;
}

.query {
    flex: 1;
    box-sizing: border-box;
    height: 32px;
    padding: 5px 8px;
    border: none;
    background-color: var(--very-dark);
    color: var(--light);
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.sort_dir {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sort_dir>label {
    user-select: none;
    position: relative;
    background-color: var(--very-dark);
    color: var(--light);
    padding: 0 4px;
    border: solid 2px var(--light);
    border-radius: 5px;
    font-size: 13px;
}

.sort_dir>label:hover {
    background-color: rgb(94, 68, 68);
}

.sort_dir>label:focus-within {
    border-color: var(--very-dark);
    outline-color: var(--light);
    outline-width: 2px;
    outline-style: solid;
}

.sort_dir>label:has(input[type=radio]:checked) {
    background-color: var(--light);
    color: var(--dark);
}

.sort_dir>label>input[type=radio] {
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: none;
}

.result_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    min-width: 500px;
    padding: 0 2px;
    color: rgb(209, 200, 200);
    font-size: 0.9em;
}

.result_buttons {
    display: flex;
    gap: 4px;
}

.result_buttons>button {
    display: flex;
    align-items: center;
    gap: 4px;
}

.result_summary,
.result_dummy {
    flex: 1;
}

.result {
    flex: 1;
    overflow-x: auto;
    overflow-y: scroll;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-half-width) var(--card-half-width));
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    margin: 10px;
    gap: 6px 3px;
}

.card_wrapper {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.card:focus {
    outline-color: var(--hilight);
    outline-width: 5px;
    outline-style: solid;
}

.card>img {
    width: var(--card-width);
    height: var(--card-height);
}

.card_wrapper.landscape {
    grid-column: span 3;
}

.card_wrapper.landscape>.card {
    width: var(--card-height);
    height: var(--card-width);
}

.card_wrapper.landscape>.card>img {
    width: var(--card-width);
    height: var(--card-height);
    transform: rotate(90deg);
}

@media (max-width: 800px) {
    body {
        --card-width: 184px;
        --card-half-width: 92px;
        --card-height: 256px;
        --card-border-radius: 10px;
    }

    .filter_container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter_show_extra {
        display: flex;
    }

    .filter_extra {
        display: none;
        grid-template-columns: auto auto 40px;
    }

    .filter_extra.filter_extra_shown {
        display: grid;
    }

    .pool {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}